/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    margin: 20px 0px 20px 0px;
}

/* 공통 박스 */
.box {
    display: flex;
    width: 300px;
    height: 300px;
    border: 1px solid rgb(3, 3, 3);
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}


/* 공통 컨테이너 */
.container {
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 50vh; /*화면 50% 높이 사용*/
    margin: 20px 0px 20px 0px;
    background-color: #777272;
}


/* 문제1 */
.container1 {
    display: flex;
}
.static {
    position: static;
}


/* 문제2 */
.container2 {
    display: flex;
}

.relative {
    position: relative;
    z-index: 1;
}

.absolute {
    position: absolute;
    margin: 30px 30px 0 0;
    text-align: bottom;
}


/* 문제3 */
.fixed {
    position: fixed;
    top: 20px;
    right: 50px;
}

/* 문제4 */
.container4 {
    height: 130vh; 
}
.sticky {
    position: sticky;
    top: 20px;
    height: 80px; 
    width: 100%;
    margin: 20px 0px 20px 0px;
}