/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 공통 박스 */
.box {
    max-width: 300px;
    max-height: 300px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 50%;
    border: 1px solid rgb(3, 3, 3);
    padding: 40px;
    margin: 20px;
    text-align: center;
}


/* 공통 컨테이너 */
.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh; /*화면 전체 높이 사용*/
    background-color: #f0f0f0;
}


/* 문제1 */
.container1 {

}

.static-box {

}


/* 문제2 */
.container2 {
    display: block;
}

.box2-1 {


}

.box2-2 {
    margin: 30px 30px 0 0;
}


/* 문제3 */
.container3 {

}

.fixed-box1 {
    position: fixed;
    top: 50px;
    right: 350px;
}

.fixed-box2 {
    position: fixed;
    top: 50px;
    right: 0px;
}


/* 문제4 */
.container4 {
    align-items: baseline;
    height: 300vh;
}


.sticky-box {
    position: sticky;
    top: 50px;
    height: 80px;
    width: 100%;
}